<extend name="tpl/base"/>
<!--这是继承的标题部分-->
<block name="title">
    <title>{$title}</title>
</block>
<!--这是继承的头部分-->
<block name="header">
    <div style="width: 1000px;height: 150px;background: gold;margin: 0 auto;">
        <div>这是logo</div>
        <div>这是搜索内容</div>
        <div>这是导航条</div>
    </div>
</block>
<!--这是继承的主体部分-->
<block name="content">
    <div style="width: 1000px;height: 500px;background: green;margin: 0 auto;">
    <div>这是左部分</div>
    <div>这是右部分</div>
    </div>
</block>
<!--这是继承的底部分-->
<block name="footer">
    <div style="width: 1000px;height: 150px;background: blue;margin: 0 auto;">
        <div>版权信息2017</div>
    </div>
</block>